<section>
    <div class="container-fluid">
        <div class="row bg-secondary justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-sm-10 text-center">
                <h1 class="display-2 text-capitalize"><span class="text-warning">Présentation Projet</span> <span
                        class="text-white font-weight-bold"> Angular 10</span></h1>
                <h2 class="text-white font-weight-light">Voici une application que j'ai développé à l'aide de Angular
                    dans le cadre du cours de 420-345-AL. Cette application propose un système de
                    location de voiture de sport dont les données sont stockées à l'aide d'une base de donnée simulée en utilisant JSON-Server </h2>
                <h3 class="text-warning my-5">Technologies utilisées :</h3>    
                <i class="fab fa-angular text-danger fa-7x mx-5" ></i>
                <i class="fab fa-bootstrap text-primary fa-7x mx-5"></i>
                <i class="fab fa-html5 text-primary fa-7x mx-5"></i>
                <i class="fab fa-css3-alt text-danger fa-7x mx-5" ></i>
                <i class="fas fa-server text-light fa-7x mx-5"></i>
            </div>
        </div>

    </div>

</section>