<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Book a car</h1>
                    </div>
                    <form [formGroup]="rentalForm" (ngSubmit)="onSubmit()">

                        <div *ngIf="validMessage != ''">
                            <h3 class="text-danger">{{validMessage}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="name">Name</label>
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name" formControlName="name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" id="email" type="email" placeholder="Enter your email" formControlName="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="phone">Phone</label>
                            <input class="form-control" type="tel" id="phone" placeholder="Enter your phone number" formControlName="phone">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="model">Model</label>
                            <select class="form-control" id="model" formControlName="model">
                                <option>Ferrari F430</option>
                                <option>Lamborghini Aventador</option>
                                <option>Maserati GranTurismo</option>
                            </select>
                            <span class="select-arrow"></span>
                        </div>
                        <div class="form-group">
                            <span class="form-label">color</span>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="color" id="red" value="red" >
                                <label for="red" class="form-label">red</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="black" formControlName="color" value="black" >
                                <label for="black" class="form-label">black</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="white" formControlName="color" value="white" >
                                <label for="white" class="form-label">white</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Date</label>
                            <input class="form-control" id="date" type="date" formControlName="date">
                        </div>
                        
                        <div class="form-btn">
                            <button class="submit-btn">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
