<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Rental {{rental.id}}</h1>
                    </div>
                    <form [formGroup]="afficherRentalForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="name">Name</label>
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name" formControlName="name" [(ngModel)]="rental.name" readonly>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" id="email" type="email" placeholder="Enter your email" formControlName="email" [(ngModel)]="rental.email" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="phone">Phone</label>
                            <input class="form-control" type="tel" id="phone" placeholder="Enter your phone number" formControlName="phone" [(ngModel)]="rental.phone" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="model">Model</label>
                            <select class="form-control" id="model" formControlName="model" [(ngModel)]="rental.model" disabled>
                                <option>Ferrari F430</option>
                                <option>Lamborghini Aventador</option>
                                <option>Maserati GranTurismo</option>
                            </select>
                            <span class="select-arrow"></span>
                        </div>
                        <div class="form-group">
                            <span class="form-label">color</span>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="color" id="red" value="red" [(ngModel)]="rental.color">
                                <label class="form-label">red</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="black" formControlName="color" value="black" [(ngModel)]="rental.color">
                                <label class="form-label">black</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="white" formControlName="color" value="white" [(ngModel)]="rental.color">
                                <label class="form-label">white</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Date</label>
                            <input class="form-control" id="date" type="date" formControlName="date" [(ngModel)]="rental.date" readonly>
                        </div>
                        
                        <div class="form-btn">
                            <button class="submit-btn"[routerLink]="['/crud']">Back <i class="fas fa-long-arrow-alt-left"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
